In [32]:
import pandas as pd
import calendar

In [2]:
#Read the dataset
df_seoul = pd.read_csv('../data/bike_clean.csv')
df_seoul.head()

,Unnamed: 0,datetime,date,hour,season,holiday,open,rent_count,temperature,humidity,wind_speed,visibility,dewpoint_temp,solar_radiation,rainfall,snowfall
0,1,2017-12-01 00:00:00,2017-12-01,0,Winter,No Holiday,Yes,254,-5.2,37,2.2,20000,-17.6,0.0,0.0,0
1,2,2017-12-01 01:00:00,2017-12-01,1,Winter,No Holiday,Yes,204,-5.5,38,0.8,20000,-17.6,0.0,0.0,0
2,3,2017-12-01 02:00:00,2017-12-01,2,Winter,No Holiday,Yes,173,-6.0,39,1.0,20000,-17.7,0.0,0.0,0
3,4,2017-12-01 03:00:00,2017-12-01,3,Winter,No Holiday,Yes,107,-6.2,40,0.9,20000,-17.6,0.0,0.0,0
4,5,2017-12-01 04:00:00,2017-12-01,4,Winter,No Holiday,Yes,78,-6.0,36,2.3,20000,-18.6,0.0,0.0,0

In [5]:
#Info and data type of each column of the datset
df_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       8760 non-null   int64
 1   datetime         8760 non-null   object
 2   date             8760 non-null   object
 3   hour             8760 non-null   int64
 4   season           8760 non-null   object
 5   holiday          8760 non-null   object
 6   open             8760 non-null   object
 7   rent_count       8760 non-null   int64
 8   temperature      8760 non-null   float64
 9   humidity         8760 non-null   int64
 10  wind_speed       8760 non-null   float64
 11  visibility       8760 non-null   int64
 12  dewpoint_temp    8760 non-null   float64
 13  solar_radiation  8760 non-null   float64
 14  rainfall         8760 non-null   float64
 15  snowfall         8760 non-null   int64
dtypes: float64(5), int64(6), object(5)
memory usage: 1.1+ MB

In [33]:
#Change type of date column to datetime
df_seoul['datetime'] =  pd.to_datetime(df_seoul['datetime'])
df_seoul['date'] = pd.to_datetime(df_seoul['date'])
df_seoul['month'] = df_seoul.datetime.dt.month
df_seoul['week'] = df_seoul.datetime.dt.isocalendar().week # week number
df_seoul['day_of_month'] = df_seoul.datetime.dt.day # 1 to 31
df_seoul['day_of_year'] = df_seoul.datetime.dt.dayofyear # 1 to 365
df_seoul['day_of_week'] = df_seoul.datetime.dt.dayofweek # mon, tue ... 
df_seoul['dayName_of_week'] = df_seoul.date.dt.day_name()
df_seoul['month_name'] = df_seoul['month'].apply(lambda x: calendar.month_abbr[x])
df_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       8760 non-null   int64
 1   datetime         8760 non-null   datetime64[ns]
 2   date             8760 non-null   datetime64[ns]
 3   hour             8760 non-null   int64
 4   season           8760 non-null   object
 5   holiday          8760 non-null   object
 6   open             8760 non-null   object
 7   rent_count       8760 non-null   int64
 8   temperature      8760 non-null   float64
 9   humidity         8760 non-null   int64
 10  wind_speed       8760 non-null   float64
 11  visibility       8760 non-null   int64
 12  dewpoint_temp    8760 non-null   float64
 13  solar_radiation  8760 non-null   float64
 14  rainfall         8760 non-null   float64
 15  snowfall         8760 non-null   int64
 16  month            8760 non-null   int64
 17  week             8760 non-null   UInt32
 18  day_of_month     8760 non-null   int64
 19  day_of_year      8760 non-null   int64
 20  day_of_week      8760 non-null   int64
 21  dayName_of_week  8760 non-null   object
 22  month_name       8760 non-null   object
dtypes: UInt32(1), datetime64[ns](2), float64(5), int64(10), object(5)
memory usage: 1.5+ MB

In [34]:
df_seoul.head()

,Unnamed: 0,datetime,date,hour,season,holiday,open,rent_count,temperature,humidity,...,solar_radiation,rainfall,snowfall,month,week,day_of_month,day_of_year,day_of_week,dayName_of_week,month_name
0,1,2017-12-01 00:00:00,2017-12-01,0,Winter,No Holiday,Yes,254,-5.2,37,...,0.0,0.0,0,12,48,1,335,4,Friday,Dec
1,2,2017-12-01 01:00:00,2017-12-01,1,Winter,No Holiday,Yes,204,-5.5,38,...,0.0,0.0,0,12,48,1,335,4,Friday,Dec
2,3,2017-12-01 02:00:00,2017-12-01,2,Winter,No Holiday,Yes,173,-6.0,39,...,0.0,0.0,0,12,48,1,335,4,Friday,Dec
3,4,2017-12-01 03:00:00,2017-12-01,3,Winter,No Holiday,Yes,107,-6.2,40,...,0.0,0.0,0,12,48,1,335,4,Friday,Dec
4,5,2017-12-01 04:00:00,2017-12-01,4,Winter,No Holiday,Yes,78,-6.0,36,...,0.0,0.0,0,12,48,1,335,4,Friday,Dec

In [35]:
df_seoul.to_csv("seoulDate_dateEngin")

In [46]:
df_seoul.to_excel("seoulDate_dateEngin_xl.xlsx")

In [39]:
#Date range of data 2017 Dec - 2018 Nov
(df_seoul['datetime'].dt.date.min(), df_seoul['datetime'].dt.date.max())

(datetime.date(2017, 12, 1), datetime.date(2018, 11, 30))